:root{
    --maron: #C8A165;
    --saumon: #C87065;
    --gris-footer: #eee;
    --gris-body: #f6f6f6;
    --gris-icon: #666666;
    --gris-title: #434343;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration : none !important;
}
.paiement{
    width: 80%;
    display: grid;
    grid-template-rows: 10% 90%;
    /* height: 200vh; */
    /* border: 1px solid; */
    margin: 0 auto;
    background-color: var(--gris-body);

}
.paiement .titrePaiement{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
}
.paiement .titrePaiement .titreSimple{
    
    background-color:white;
    width: 22%;
    text-align: center;
    height: 10vh;
    justify-content: center;
    border: 0;
}
.paiement .titrePaiement .titreSelectionner{
    width: 22%;
    height: 10vh;
    background-color:var(--maron) ;
    text-align: center;
    border: 0;
}
.paiement .titrePaiement .titreSimple  .liens{
   color: var(--gris-icon);
}
.paiement .titrePaiement .titreSelectionner .liens{
   color: white;
}
.paiement .infosPaiement {
    display: grid;
    grid-template-columns: 46% 46%;
    justify-content: center;
    gap: 2vh;
    background-color: white;
    width: 100%;
   
    
    
}

.paiement .infosPaiement .detailsPaiement h4{
 color: var(--gris-title);
 /* margin-left: 5%; */
 font-size: 20px;
 margin-top: 7vh;
 
 
}
.paiement .infosPaiement .detailsPaiement .infosClient{
 width: 100%;
 justify-content: center;
 /* margin-left: 5%; */
 height: 10%;
 margin: 0 0 5px;
 padding: 0  10px;
 background-color: var(--gris-body);
 
 
}
.paiement .infosPaiement .detailsPaiement .infosClient1{
 width: 100%;
 justify-content: center;
 /* margin-left: 5%; */
 height: 15%;
 margin: 0 0 5px;
 padding: 0  10px;
 background-color: var(--gris-body);
 
}

/* .paiement .infosPaiement .detailsPaiement .infosClient1::-ms-expand{
    display: none;

} */

.paiement .infosPaiement .detailsPaiement .hrDetailsPaiement{
    width: 15%;
    height: 6px;
    background-color: var(--gris-icon);
    /* border: 1px solid var(--gris-body); */

 
}


.paiement .infosPaiement .clientPaiement h4{
 color: var(--gris-title);
 /* margin-left: 5%; */
 font-size: 20px;
 margin-top: 7vh;
 
 
}
.paiement .infosPaiement .clientPaiement .infosClient{
 width: 100%;
 justify-content: center;
 /* margin-left: 5%; */
 height: 10%;
 margin: 0 0 5px;
 padding: 0  10px;
 background-color: var(--gris-body);
}
.paiement .infosPaiement .clientPaiement .infosClient1{
    width: 100%;
    justify-content: center;
    /* margin-left: 5%; */
    height: 15%;
    margin: 0 0 5px;
    padding: 0  10px;
    background-color: var(--gris-body);
}
.paiement .infosPaiement .clientPaiement .hrDetailsPaiement{
    width: 15%;
    height: 6px;
    background-color: var(--gris-icon);
    /* border: 1px solid var(--gris-body); */
}
.paiement .infosPaiement .sommePaiement{
    margin-top: 15vh;
}
.paiement .infosPaiement .sommePaiement .hrDetailsPaiement{
    width: 15%;
    height: 6px;
    background-color: var(--gris-icon);
    border: 1px solid var(--gris-body);
}
.paiement .infosPaiement .methodPaiement{
    margin-top: 15vh;
}
.paiement .infosPaiement .methodPaiement .hrDetailsPaiement{
    width: 15%;
    height: 6px;
    background-color: var(--gris-icon);
    border: 1px solid var(--gris-body);
}
.paiement .infosPaiement .methodPaiement .placeolder{
    width: 25%;
    height: 5vh;
    background-color:var(--saumon) ;
    text-align: center;
    margin: 5%;   
}

@media only screen and (max-width: 1200px) {
.paiement{
    display: flex;
    flex-direction: column;
    width: 100%;
} 
   
}
@media only screen  and (max-width:925px){
    .paiement{
        display: flex;
        flex-direction: column;
    }
    .paiement .titrePaiement{
        display: flex;
        flex-direction: column;
        text-align: center;
        /* width: 100px; */
        /* border: 3px solid; */
        align-items: center;
        /* margin-left: 270px; */
    }
    .paiement .infosPaiement{
        display: flex;
        flex-direction: column;
        
        
    }
    .paiement .infosPaiement .detailsPaiement{
        /* margin: 10px; */
        gap: 5vh;
        margin-top: 5vh;
        
    }
    .paiement .infosPaiement .detailsPaiement .infosClient{
        /* margin: 10px; */
        height: 5vh;
       
        
    }
    .paiement .infosPaiement .detailsPaiement .infosClient1{
    /* margin: 5px;      */
    }
    .paiement .infosPaiement .clientsPaiement{
        /* margin: 10px; */
        gap: 5vh;
        margin-top: 5vh;
        
    }
    .paiement .infosPaiement .clientPaiement .infosClient{
        /* margin: 5px; */
        height: 5vh;
       
        
    }
    .paiement .infosPaiement .clientsPaiement .infosClient1{
    /* margin: 6px;      */
    }
}
