
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --maron: #C8A165;
    --saumon: #C87065;
    --gris-footer: #eee;
    --gris-body: #f6f6f6;
    --gris-icon: #666666;
    --gris-title: #434343;
}
.containerpanier2 .buttonPanier{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
    margin-bottom: 2em;

}
.containerpanier2 .buttonPanier button{ 
    color: var(--gris-title);
    background-color: white;
    height: 3em;
    width: 100%;
    border: 0;

}
.containerpanier2 .buttonPanier button:nth-child(1){ 
    color: white;
    background-color: var(--maron);

}


.containerpanier2{
    /* border:1px solid red; */
    width:80%;
    margin :0 auto;
    background-color: var(--gris-body);



}
.containerpanier2 .containerTab {
    /* border:1px solid green; */
    /* background-color: w; */

    width:100%;
    margin :0 auto;
    padding:0;
    height:2;

}
/* media queries */
@media(max-width:400px){
    .buttonPanier{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:768px){
    .containerpanier2 .buttonPanier{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .containerpanier2 .buttonPanier button{ 
        box-shadow: 2px 2px 4px var(--gris-icon);
    }
    #tabconnteneur table, thead,tbody,tr,td{
        display: flex;
        flex-direction: column;  
    }
    #tabconnteneur table thead{
        display: none;
        
    }
    #tabconnteneur table tbody tr th{
        display: flex;
        flex-direction:column-reverse ;
        text-align: left;
        color: var(--gris-icon);
    }
    
    #tabconnteneur table tbody tr td{
       display: none;
    }
    

}
@media(max-width:900px){
    .buttonPanier{
        display: flex;
        flex-direction: column;
    }
}



